In [9]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', None)

# Carga de data

In [2]:
DATA_PATH = "../data/2024_Property_Tax_Roll.csv"
df_ = pd.read_csv(DATA_PATH)

## Validación de la data

In [4]:
df_.shape

(44034, 30)

In [10]:
df_.head()

,P_ID,TAX_MAP,plat,lot,unit,CLASS,SHORT_DESC,LEVY_CODE_1,SHORT_DESC 1,CIVIC,STREET,SUFFIX,FORMATED_ADDRESS,CITY,ZIP_POSTAL,FIRST_NAME,LAST_NAME,COMPANY,FREE_LINE_2,CIVIC 1,STREET 1,S_SUFFIX,UNIT,CITY 1,STATE,ZIP_POSTAL 1,TOTAL_ASSMT,TOTAL_EXEMPT,TOTAL_TAXES,Property_Location
0,12.0,000-0001-0022,0.0,1.0,0022,10.0,Utility,C01,C01,NaN,NaN,NaN,NaN,Providence,NaN,NaN,NaN,Algonquin Gas Transmission LLC,PO BOX 2629,NaN,NaN,NaN,NaN,Addison,TX,75001,6160000.0,0.0,216216.00,POINT (-71.412747 41.824461)
1,807.0,005-0514-0000,5.0,514.0,0000,1.0,Single Family,OO01,OO01,135.0,Abbott,St,135 Abbott St,Providence,02906,LYNETTE,LOPES,NaN,135 ABBOTT ST,135,ABBOTT,ST,NaN,PROVIDENCE,RI,02906-1818,436900.0,47708.0,4070.76,POINT (-71.402954036 41.842866001)
2,69878.0,077-0893-0000,77.0,893.0,0000,1.0,Single Family,OO01,OO01,36.0,Wilna,St,36 Wilna St,Providence,02904,K,Karpeh,NaN,36 Wilna St,36,Wilna,St,NaN,Providence,RI,02904,322600.0,0.0,3374.24,POINT (-71.415484981 41.858035988)
3,2050.0,008-0350-0000,8.0,350.0,0000,1.0,Single Family,OO01,OO01,120.0,Morris,Ave,120 Morris Ave,Providence,02906,NaN,NaN,NaN,120 Morris Ave,120,Morris,Ave,NaN,PROVIDENCE,RI,02906-3040,572100.0,57364.0,5383.88,POINT (-71.398264026 41.83631701)
4,5030.0,016-0560-0000,16.0,560.0,0000,1.0,Single Family,OO01,OO01,22.0,John,St,22 John St,Providence,02906,Fergal,Casey,NaN,22 John St,22,John,St,NaN,Providence,RI,02906,643000.0,0.0,6725.48,POINT (-71.400355981 41.821832998)

In [ ]:

df_.dtypes

P_ID                 float64
TAX_MAP               object
plat                 float64
lot                  float64
unit                  object
CLASS                float64
SHORT_DESC            object
LEVY_CODE_1           object
SHORT_DESC 1          object
CIVIC                float64
STREET                object
SUFFIX                object
FORMATED_ADDRESS      object
CITY                  object
ZIP_POSTAL            object
FIRST_NAME            object
LAST_NAME             object
COMPANY               object
FREE_LINE_2           object
CIVIC 1               object
STREET 1              object
S_SUFFIX              object
UNIT                  object
CITY 1                object
STATE                 object
ZIP_POSTAL 1          object
TOTAL_ASSMT          float64
TOTAL_EXEMPT         float64
TOTAL_TAXES          float64
Property_Location     object
dtype: object

In [44]:
# Cantidad de nulos por columnas

df_.isnull().sum().sort_values(ascending=False)

UNIT                 39476
COMPANY              34902
FIRST_NAME            9738
LAST_NAME             9674
S_SUFFIX              3523
CIVIC 1               1596
SUFFIX                1592
ZIP_POSTAL            1436
STREET 1              1058
CIVIC                   96
ZIP_POSTAL 1            38
CITY                    35
STATE                   14
CITY 1                   7
STREET                   3
FORMATED_ADDRESS         3
FREE_LINE_2              3
LEVY_CODE_1              1
plat                     1
lot                      1
unit                     1
CLASS                    1
P_ID                     1
SHORT_DESC               1
SHORT_DESC 1             1
TAX_MAP                  1
TOTAL_ASSMT              1
TOTAL_EXEMPT             1
TOTAL_TAXES              1
Property_Location        0
dtype: int64

In [ ]:
# Duplicidad de valores en dataframe
repetidos_por_col = {
    col: df_[col].dropna().duplicated().sum()
    for col in df_.columns
}

df_repetidos_1fila = pd.DataFrame([repetidos_por_col])
df_repetidos_1fila

,P_ID,TAX_MAP,plat,lot,unit,CLASS,SHORT_DESC,LEVY_CODE_1,SHORT_DESC 1,CIVIC,STREET,SUFFIX,FORMATED_ADDRESS,CITY,ZIP_POSTAL,FIRST_NAME,LAST_NAME,COMPANY,FREE_LINE_2,CIVIC 1,STREET 1,S_SUFFIX,UNIT,CITY 1,STATE,ZIP_POSTAL 1,TOTAL_ASSMT,TOTAL_EXEMPT,TOTAL_TAXES,Property_Location
0,0,0,43903,42842,42567,44006,44006,44025,44025,42489,42334,42426,2283,43993,42513,25465,18339,5482,11197,40360,37748,40463,3470,43127,43973,38740,33727,41230,25518,4434

In [47]:
df_.duplicated(subset=["P_ID"]).sum(), df_.duplicated(subset=["TAX_MAP"]).sum()

(np.int64(0), np.int64(0))

# Conclusiones
- CLASS y SHORT_DESC están relacionados directamente -> no se usa en entrenamiento
- P_ID y TAX_MAP son únicos

# Pendientes
- Sigue EDA
- Mirar en gpt el flujo armado